var options = {
    width: 400,
    height: 240,
    title: 'Toppings I Like On My Pizza',
    colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
  };
  
  chart.draw(data, options);




  ["01:00", 1.0, "gold"],
  ["02:00", 8.0, "gold"],
  ["03:00", 4.0, "gold"],
  ["04:00", 1.0, "gold"],
  ["05:00", 0.0, "gold"],
  ["06:00", 0.0, "gold"],
  ["07:00", 1.0, "gold"],
  ["08:00", 0.0, "gold"],
  ["09:00", 13.0, "gold"],
  ["10:00", 26, "blue"],
  ["11:00", 6.0, "gold"],
  ["12:00", {{ time }}, "gold"],
  ["13:00", 12.0, "gold"],
  ["14:00", 1.0, "gold"],
  ["15:00", 1.0, "gold"],
  ["16:00", 16.0, "gold"],
  ["17:00", 1.0, "gold"],
  ["18:00", 2.0, "gold"],
  ["19:00", 1.0, "gold"],
  ["20:00", 1.0, "gold"],
  ["21:00", 6.0, "gold"],
  ["22:00", 1.0, "gold"],
  ["23:00", 2.0, "gold"],
  ["24:00", 0.0, "gold"],